/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.container {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
